<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
  </div>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, accept: 'image/png, image/jpg, image/jpeg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
