<h1> User Profile </h1>
<hr>

<p> 
<%= image_tag @profile.avatar.service_url, class: 'listing-img' if @profile.avatar.attached? %> 
</p>
<p> 
Full Name: <%= @profile.fullname %> 
</p>
<p> 
What I'm after: <%= @profile.description %> 
</p>
<% if user_signed_in? && current_user.profile == @profile %>
  <%= link_to "Edit", edit_profile_path(@profile.id) %>
<% else %>
  <%= @profile.user.username %> | <%= link_to "Message", new_personal_message_path(receiver_id: @profile.user) %>
<% end %>

 <% @profile.user.listings.order('updated_at DESC').each do |listing| %>
    <div class="listing">
      <div class="avatar-container">
        <div class="avatar" ></div>
      </div>
      <div class="listing-body">
        <p class="listing-metadata">
          <strong> <%= time_ago_in_words(listing.updated_at) %> ago </strong>
        <div class="listing-content">
          <p> 
            Name: <%= listing.name %> 
          </p>
          <p> 
            Description: <%= listing.description %> 
          </p>
          <p> 
            Brand: <%= listing.brand %> 
          </p>
          <p> 
            Console: <%= listing.console %> 
          </p>
          <p> 
            Price: <%= listing.price %> 
          </p>
          <p> 
          <%= image_tag listing.picture.service_url, class: 'listing-img' if listing.picture.attached? %> 
          </p>
            <%# <% if listing.sold = true %>
            <%# <p> SOLD </p> %>
            <%# <% end %>
          <p>
          <%= link_to "Show", listing_path(listing.id) %>
          <p>
            <% if user_signed_in? && current_user.listings.include?(listing) %>
  ​            <%= link_to "Edit", edit_listing_path(listing.id) %>
              <%= link_to "Delete", listing_path(listing.id), method: :delete %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>