<h1 class="title"> <%= @profile.fullname %>  </h1>
<hr>

<p> 
<%= image_tag @profile.avatar.service_url, class: 'profile-img' if @profile.avatar.attached? %> 
</p>
<p> 
What I'm after: <%= @profile.description %> 
</p>
<% if user_signed_in? && current_user.profile == @profile %>
  <%= link_to "Edit Profile", edit_profile_path(@profile.id), class: "btn btn-primary" %>
<% else %>
  <%= link_to "Message", new_personal_message_path(receiver_id: @profile.user), class: "btn btn-primary" %>
<% end %>
<hr>

<div class="cards">
    <% @profile.user.listings.order('updated_at DESC').each do |listing| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag listing.picture.service_url, class: 'card-img-top' if listing.picture.attached? %>
        <div class="card-body">
          <h5 class="card-title"> <%= link_to listing.name, listing_path(listing.id) %> </h5>
          <p class="card-text"> <%= listing.console %> </p>
          <p class="card-text"> $<%= listing.price %> </p>
          <p class="card-text"> <%= listing.description %> </p>
          <% if user_signed_in? && current_user.listings.include?(listing) %>
  ​           <%= link_to "Edit", edit_listing_path(listing.id), class: "btn btn-primary" %>
            <%= link_to "Delete", listing_path(listing.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
