  <% if @listing.errors.full_messages.any? %>
  <p> <%= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:" %> </p>
    <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li style="color: red">
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

<%= form_with model: listing, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :price %>
  <%= f.text_area :price %>
  <%= f.label :brand %>
  <%= f.select :brand, options_for_select(brand_selection) %>
  <%= f.label :console %>
  <%= f.select :console, options_for_select(sony_selection) %>
  <%= f.label :picture %>
  <%= f.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %>
  <%= f.submit %>
<% end %>