<h1> Listings </h1>
<hr>

<%# <%= Search Form %>
<%= form_with(scope: :search, url: listings_path, method: 'get', local: true) do |f| %>
  <%= f.text_field :name %>
  
  <%# # change this according to consoles once implemented %>
  <%# <%= f.label :categories %>
  <%# <%= f.collection_select :categories, Category.all, :id, :name, {}, { multiple: true } %>

  <%= f.submit %>
<% end %>

<%= link_to "New Listing", new_listing_path %>


<div class="listings">
  <% @listings.each do |listing| %>
    <div class="listing">
      <div class="avatar-container">
        <div class="avatar" ></div>
      </div>
      <div class="listing-body">
        <p class="listing-metadata">
            <%= link_to "View Profile", profile_path(listing.user.profile.id) %>
          <%= listing.user.username %> <span class="date"><%= listing.created_at.strftime("%Y/%m/%d") %></span>
        </p>
        <div class="listing-content">
          <p> 
            Name: <%= listing.name %> 
          </p>
          <p> 
            Description: <%= listing.description %> 
          </p>
          <p> 
            Console: <%= listing.console %> 
          </p>
          <p> 
            Price: <%= listing.price %> 
          </p>
          <p> 
          <%= image_tag listing.picture.service_url, class: 'listing-img' if listing.picture.attached? %> 
          </p>
            <%# <% if listing.sold = true %>
            <%# <p> SOLD </p> %>
            <%# <% end %>
          <p>
          <%= link_to "Show", listing_path(listing.id) %>
          <p>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>