<h1 class="title"> Listings </h1>
<hr>

<%# <%= Search Form %>
<%= form_with(scope: :search, url: listings_path, method: 'get', local: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<br>

<%= link_to "New Listing", new_listing_path, class: "btn btn-primary" %>

<div class="cards">
    <% @listings.order('updated_at DESC').each do |listing| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag listing.picture.service_url, class: 'card-img-top' if listing.picture.attached? %>
        <div class="card-body">
          <h5 class="card-title"> <%= link_to listing.name, listing_path(listing.id)%> </h5>
          <p class="card-text"> $<%= listing.price %> </p>
          <p class="card-text"> <%= listing.description %> </p>
          <p class="card-text"> Created by <%= link_to listing.user.profile.fullname, profile_path(listing.user.profile.id) %> </p>
        </div>
      </div>
    <% end %>
</div>