<h1> <%= @listing.name %> </h1>

<%= @listing.description %>
<%= @listing.price %>
<%= image_tag @listing.picture.service_url, class: 'listing-img' if @listing.picture.attached? %> 

<button data-stripe="payment"> Purchase <%= number_to_currency(@listing.price) %></button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const_stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>

