<h1 class="title"> <%= @listing.name %> </h1>
<hr>
<% if user_signed_in? && current_user.listings.include?(@listing) %>
  <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-primary" %>
<% else %>  
  <button data-stripe='payment' class="btn btn-primary "> Purchase </button>
<% end %>
<br>

<div class="show-card">
  <div class="show-card-body">
    <h5 class="card-title"> <%= @listing.name %> </h5>
    <p class="card-text"> <%= @listing.console %> </p>
    <p class="card-text"> <%= @listing.description %> </p>
    <p class="card-text"> $<%= @listing.price %> </p>
  </div>
    <%= image_tag @listing.picture.service_url, class: 'card-img-top' if @listing.picture.attached? %>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>