<div class=header>
  <div class=topnav>
    <section id=site_links_area> 
      <%= link_to "Home", listings_path %>
    </section>
    <section id=auth_links_area> 
      <% if user_signed_in? %>
        <% if current_user.profile == nil %>
          <%= link_to "Create Profile", new_profile_path %>  
        <% else %>
          <%= link_to "Profile", current_user.profile %>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Signup", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </section>
  </div>

  <div class=welcome>
  <% if user_signed_in? %>
    <h1> Good to see you again, <%= current_user.username.capitalize %> <h1>
  <% else %>
    <h1> Welcome to VCGames <h1>
  <% end %>
  </div>
</div>