<!DOCTYPE html>
<html>
  <head>
    <title>VcgamesMarketplaceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="alert"><%= alert %></p>
    <div class="site-wrapper">
      <nav>
        <%= link_to "New Listing", new_listing_path, class: "listing-button" %>
      </nav>
      <div class=container>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
